body{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: -250px -300px;
    
}
img{
    width: 250px;
    border-radius: 360px;
}
ol{
    color: black;
    font-size: 14px;
}
contenedor{
display: flex;
flex-direction: column;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mydiv{
    position: absolute;
    width:100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(150deg, #3794c0,#4ddb40,#c1f338);
    background-size: 200% 200%;
    animation: BgGradient 3s ease infinite;
}
@keyframes BgGradient{
    0%{background-position: 0%,50%;}
    50%{background-position: 100%,50%;}
    100%{background-position: 0%,50%;}
}
  /* Navbar container */
  .navbar {
    width: 100%;
    padding-left:  100px;
    overflow: hidden;
    background-color: #a3aae4;
    font-family: Arial;
  }
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 /* The dropdown container */
 .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #80cbf7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #a3aae4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





