.ficha {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "encabezado-ficha"
      "actividades-ficha"
      "estados-ficha";
    width: 100%;
    background-color:rgb(99, 55, 156) ;
    position: initial;
    
  }
  
  .encabezado-ficha {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      " Jeronimo-Cortes-Rios  Jeronimo-Cortes-Rios fotografia"
      "enlaces enlaces fotografia";
    grid-area: encabezado-ficha;
    background-color: aquamarine;
    position: initial;
  }
  
  .Jeronimo-Cortes-Rios { grid-area: Jeronimo-Cortes-Rios; }
  
  .enlaces { grid-area: enlaces; }
  
  .fotografia {
    justify-self: left;
    align-self: initial;
    grid-area: fotografia;  
  }
  
  .actividades-ficha {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "titulo-actividades"
      "encabezado-actividades"
      "estado-actividades";
    grid-area: actividades-ficha;
    background-color: rgb(75, 84, 207);
  }
  
  .titulo-actividades {
    justify-self: center;
    align-self: center;
    grid-area: titulo-actividades;

  }
  
  .encabezado-actividades {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "item nombre estadouiux estadodev";
    grid-area: encabezado-actividades;
  }
  
  .item { grid-area: item; }
  
  .nombre { grid-area: nombre; }
  
  .estadouiux { grid-area: estadouiux; }
  
  .estadodev { grid-area: estadodev; }
  
  .estado-actividades {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nro enlace porcentajeuiux porcentajedev";
    grid-area: estado-actividades;
  }
  
  .nro { grid-area: nro; }
  
  .enlace { grid-area: enlace; }
  
  .porcentajeuiux { grid-area: porcentajeuiux; }
  
  .porcentajedev { grid-area: porcentajedev; }
  
  .estados-ficha {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "estadohtml estadocss estadojs estadoui estadoux total";
    grid-area: estados-ficha;
  }
  
  .estadohtml {
    justify-self: center;
    align-self: center;
    grid-area: estadohtml;
    background-color: rgb(51, 112, 112);
  }
  
  .estadocss {
    justify-self: center;
    align-self: center;
    grid-area: estadocss;
    background-color: rgb(51, 112, 112);
  }
  
  .estadojs {
    justify-self: center;
    align-self: center;
    grid-area: estadojs;
    background-color: rgb(30, 24, 63);
  }
  
  .estadoui {
    justify-self: center;
    align-self: center;
    grid-area: estadoui;
    background-color: aqua;
  }
  
  .estadoux {
    justify-self: center;
    align-self: center;
    grid-area: estadoux;
    background-color: aqua;
  }
  
  .total {
    justify-self: center;
    align-self: center;
    grid-area: total;
    background-color: aqua;
  }
  